---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Container from "../components/Container.astro";
import TrainSection from "../components/TrainSection.astro";
import CollaborateSection from "../components/CollaborateSection.astro";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cobalt.ai</title>
	</head>
	<body class="bg-slate-950 text-white">
		<Navbar />
		<Container class="py-52">
			<h1 class="text-6xl font-bold text-center">The global collaborative AI plataform</h1>
			<h2 class="py-12 text-2xl text-center">
				Cobalt makes your AI project more accessible by leveraging the
				computing and data contributions of collaborators
			</h2>

			<TrainSection/>
			<CollaborateSection/>

			<p>Blockchain</p>
			<p>
				We use blockchain to make AI more approachable and data more
				useful
			</p>
			<p>PoUW</p>
			<p>Smart Contracts | trust and security</p>
			<p>Descentralization</p>
		</Container>
		<Footer />
	</body>
</html>

<style is:global>
	html {
		font-family: "Cera-Pro", sans-serif;
	}

	h1, h2, h3, h4, h5, h6, p, button, a {
		font-family: "Cera-Pro", sans-serif;

	}

	@font-face {
		font-family: "Cera-Pro";
		src: url("/fonts/CeraPro-Regular.woff2") format("woff2");
	}
</style>