---
const {title, description} = Astro.props
---

<a href="#" class="flex mt-12 flex-col items-center md:grid grid-cols-2">
    <slot name="left"/>
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h5
            class="mb-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
            {title}
        </h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-lg">
            {description}
        </p>
    </div>
    <slot name="right"/>
</a>