---
import Container from "./Container.astro";
import Card from "./HorizontalCard.astro";
---

<section class="relative pt-28">
    <Container>
        <h1 class="text-4xl sm:text-5xl md:text-5xl text-center font-bold">
            Join the AI revolution with Cobalt
        </h1>
        <h2 class="pt-12 text-2xl text-center">
            We believe in the power of collaboration
        </h2>

        <Card
            title="Contribute"
            description="Assist others by providing labeled data, leveraging your CPU or GPU power, or contributing your expertise."
            bg
        >
            <img
                class="object- w-full md:h-auto md:rounded-none md:rounded-s-lg"
                src="/images/pc.avif"
                alt=""
                slot="left"
            />
        </Card>

        <Card
            title="Win-Win"
            description="Earn money while contributing to the projects you're passionate about."
            bg
        >
            <img
                class="object-cover w-full md:h-auto md:rounded-none md:rounded-s-lg"
                src="/images/crypto.webp"
                alt=""
                slot="right"
            />
        </Card>
    </Container>
</section>
