---
import Container from "./Container.astro";
import Button from "./ui/Button.astro";
---

<section class="relative">
    <Container class="py-24 md:py-52 flex flex-col">
        <h1 class="text-5xl md:text-6xl font-bold text-center">
            The global collaborative AI plataform
        </h1>
        <h2 class="py-12 text-xl md:text-2xl text-center max-w-5xl">
            Cobalt makes your AI project more accessible by leveraging the
            computing and data contributions of collaborators
        </h2>
        <button
            class="relative inline-flex items-center justify-center mt-8 p-0.5 mb-2 me-2 overflow-hidden text-sm sm:text-xl md:text-2xl font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
        >
            <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
            >
                Get Started
            </span>
        </button>
    </Container>
    <div class="half-circle -z-10 dark:bg-blue-700"></div>
</section>
<style>
    section {
        margin: 0;
        overflow: hidden;
    }
    .half-circle {
        width: 100vw;
        height: 100%;
        border-radius: 0 0 50% 50%; /* Esto crea la forma de semicírculo */
        position: absolute;
        top: 0;
        left: 0;
    }
</style>
