---
import Container from "./Container.astro";
import Card from "./HorizontalCard.astro";
---

<section class="relative pt-28">
    <Container>
        <h1 class="text-4xl sm:text-5xl md:text-5xl text-center font-bold">
            Develop powerful AI models with Cobalt
        </h1>
        <h2 class="pt-12 text-2xl text-center">
            Empower your AI projects with Cobalt's accessible and excellent
            platform.
        </h2>
        <Card
            title="Need more GPU power?"
            description="We provide you with GPUs & CPUs to accelerate your model training, making it faster and more cost-effective."
            bg
        >
            <img
                class="object-cover w-full sm:h-96 md:rounded-none md:rounded-s-lg"
                src="/images/gpu.avif"
                alt=""
                slot="left"
            />
        </Card>
        <Card
            title="Need more data?"
            description="Save time and effort by eliminating the need for manual labeling or acquiring new data. Let us handle it for you."
            bg
        >
            <img
                class="object-cover  w-full sm:h-96 md:rounded-none md:rounded-s-lg"
                src="/images/data.jpg"
                alt=""
                slot="right"
            />
        </Card>
    </Container>
</section>
