<a href="https://cobalt-blond.vercel.app/requests" target="_blank"
    class="text-white  focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-4 py-2 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800"
    ><slot />
</a>
